@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
}

main {
  height: 100vh;
  width: 100vw;
  background: #131415;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 30px;
  background: linear-gradient(to bottom, #121e3c, #02050e);
}

.logo {
  height: 80%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: rgb(167, 164, 164);
  font-size: 14px;
}

.navbar-list li:first-child > a {
  color: #f3f4f6;
  font-weight: 600;
}

#menu-toggle,
.menu-label {
  display: none;
}

@media (max-width: 450px) {
  body {
    overflow-x: hidden;
  }

  .navbar-list {
    position: absolute;
    flex-direction: column;
    z-index: 1;
    top: 65px;
    left: 20%;
    right: 0;
    width: 80%;
    background: #0f1515;
    border: 2px solid #64d3ff;
    border-top: 0;
    border-right: 0;
    border-radius: 0 0 0 15px;
    padding: 45px 30px;
    gap: 25px;
  }

  .navbar-list a {
    font-size: 18px;
  }

  .menu-label {
    display: flex;
  }

  .menu-label img {
    height: 20px;
    width: 25px;
  }

  .navbar-list {
    transform: translateX(110%);
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  #menu-toggle:checked + .navbar-list {
    display: flex;
    transform: translateX(0%);
    opacity: 1;
  }
}
